:root {
    --color-primary: #0084FD;
    --color-primary-light: #B5DDFF;
    --color-secondary: #9792E4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main img {
    width: 50%;
    display: block;
}

i {
    font-size: 2rem;
    color: white;
}

ul li {
    list-style: none;
    color: white;
    padding-left: 1rem;
}

ul li a  {
    color: white;
    text-decoration: none;
}

section {
    margin-bottom: 3rem;
}

button {
    color: white;
    border-radius: 25px;
    background-color: var(--color-secondary);
    border: transparent;
    padding: 0.5rem;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
}

.img-container {
    width: 90%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

nav .row {
    flex-direction: row;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-flex {
    display: flex;
}

.card {
    height: 200px;
    border-radius: 25px;
}

.width-100 {
    width: 100%;
}

.margin {
    margin: 1rem 0.5rem
}

.padding {
    padding: 1rem;
}

.padding-2 {
    padding: 2rem;
}

.padding-tpbt {
    padding: 0.5rem 0;
}

.padding-lxdx {
    padding: 0 1rem;
}

.padding-tp {
    padding-top: 2rem;
}


.padding-bt {
    padding: 0.5rem;
}

.padding-bot {
    padding-bottom: 3rem;
}

.padding-top {
    padding-top: 3rem;
}

.margin-lxdx {
    margin: 0 0.5rem;
}

.space-btw {
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: 1rem;
}

.margin-top {
    margin-top: 6rem;
}

.margin-bot {
    margin-bottom: 2rem;
}

.margin-bot-1 {
    margin-bottom: 1rem;
}

.border-25 {
    border-radius: 25px;
}

.border-50 {
    border-radius: 100%;
}

.bg-color-primary {
    background-color: var(--color-primary);
}

.bg-color-primary-l {
    background-color: var(--color-primary-light);
}

.bg-color-secondary {
    background-color: var(--color-secondary);
    padding: 3rem 0;
}

.bg-color-white {
    background-color: white;
}

.bg-footer {
    background-color: #333333;
}

.col-100 {
    flex-basis: 100%;
}

.col-50 {
    flex-basis: 50%;
}

.txt-align {
    text-align: center;
}

.txt-align-l {
    text-align: left;
}

.font-sty {
    font-style: italic;
}

.burger {
    display: block;
}

.nav-list {
    display: none;
}

.nav-btn {
    display: none;
}

.txt-color-blu {
    color: var(--color-primary);
}

.txt-color-purple {
    color: var(--color-secondary);
}

.txt-color-grey {
    color: #5A6E7F;
}

.txt-color-white {
    color: white;
}

.txt-color-yellow {
    color: #FDC15F;
}

.font-L {
    font-size: 3rem;
}

.font-style {
    text-decoration: underline;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: calc(100% - 10px);
        margin: auto;
        padding: 0 1rem;
    }

    .bg-color-primary-l {
        margin: 0.5rem;
    }

    .margin- {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .col-md-1_3 {
        flex-basis: calc(90% / 3);
    }
    
    .col-md-2_3 {
        flex-basis: calc((90% / 3) * 2);
    }
}

@media screen and (min-width: 920px) {
    .container {
        max-width: 920px;
        margin: auto;
        padding: 0 1rem;
    }

    .bg-color-primary-l {
        margin: 0.5rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    main img {
        width: 100%;
        display: block;
    }  
    
    .burger {
        display: none;
    }

    .nav-list {
        display: block;
    }

    .nav-btn {
        display: block;
    }

    .col-lg-1_3 {
        flex-basis: calc(100% / 3);
    }
    
    .col-lg-2_3 {
        flex-basis: calc((100% / 3) * 2);
    }
    
    .col-lg-1_4 {
        flex-basis: 25%;
    }
    
    .col-lg-3_4 {
        flex-basis: calc((100% / 4) * 3);
    }   
}