:root {
    --color-primary: #0084FD;
    --color-primary-light: #B5DDFF;
    --color-secondary: #9792E4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main img {
    width: 100%;
    display: block;
    object-fit: contain;
}

i {
    font-size: 2rem;
    color: white;
}

section {
    margin-bottom: 3rem;
}

button {
    color: white;
    border-radius: 25px;
    background-color: var(--color-secondary);
}

.container {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    border: 1px solid lightgrey;
}

.flex-column {
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 200px;
    border: 1px dashed black;
    border-radius: 25px;
}

.margin {
    margin: 1rem 0.5rem
}

.padding {
    padding: 1rem;
}

.padding-tpbt {
    padding: 0.5rem;
}

.padding-lxdx {
    padding: 0 1rem;
}

.padding-top {
    padding-top: 3rem;
}

.margin-lxdx {
    margin: 0 0.5rem;
}

.space-btw {
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: 1rem;
}

.margin-top {
    margin-top: 6rem;
}

.margin-bot {
    margin-bottom: 2rem;
}

.margin-bot-1 {
    margin-bottom: 1rem;
}

.border-25 {
    border-radius: 25px;
}

.border-50 {
    border-radius: 100%;
}

.bg-color-primary {
    background-color: var(--color-primary);
}

.bg-color-primary-l {
    background-color: var(--color-primary-light);
}

.bg-color-secondary {
    background-color: var(--color-secondary);
    padding: 3rem 0;
}

.bg-color-white {
    background-color: white;
}

.bg-footer {
    background-color: #333333;
}

.col-100 {
    flex-basis: 100%;
}

.col-50 {
    flex-basis: 50%;
}

.txt-align {
    text-align: center;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: calc(100% - 10px);
        margin: auto;
        padding: 0 1rem;
    }

    .bg-color-primary-l {
        margin: 0.5rem;
    }

    .margin- {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .flex-column {
        display: flex;
        flex-direction: row;
    }

    .col-md-1_3 {
        flex-basis: calc(90% / 3);
    }
    
    .col-md-2_3 {
        flex-basis: calc((90% / 3) * 2);
    }
}

@media screen and (min-width: 920px) {
    .container {
        max-width: 920px;
        margin: auto;
        padding: 0 1rem;
    }

    .bg-color-primary-l {
        margin: 0.5rem;
    }

    .flex-column {
        flex-direction: row;
    }

    .col-lg-1_3 {
        flex-basis: calc(100% / 3);
    }
    
    .col-lg-2_3 {
        flex-basis: calc((100% / 3) * 2);
    }
    
    .col-lg-1_4 {
        flex-basis: 25%;
    }
    
    .col-lg-3_4 {
        flex-basis: calc((100% / 4) * 3);
    }   
}